{% extends 'base.html.twig' %}

{% block title %}{{ 'meteo'|trans }}{% endblock %}

{% block mainSection %}
    <div class="row">
        <h2 class="text-center font-weight-bold">{{ 'meteo'|trans }}</h2>
        <hr class="divider"/>
    </div>
    <div class="row flex-row-reverse">
        <div class="col-12 col-sm-6 offset-md-1 col-md-4 d-flex justify-content-center align-items-center">
            <img class="img-fluid img-thumbnail" alt="trade_winds" src="{{ asset('build/img/trade_winds.gif') }}"/>
        </div>
        <div class="col-12 col-sm-6 my-5">
            <span>{{ intro1|trans|raw }}</span>
            <br/>
            <hr class="divider"/>
            <span>{{ intro2|trans|raw }}</span>
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="container p-4 p-lg-5">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <span>{{ body|trans|raw }}</span>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 mt-4 d-flex justify-content-center">
                <a class="btn btn-primary btn-xl" href="{{ path('spots') }}">{{ 'see_all_spots' |trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainSectionBottom %}

{% endblock %}