<section class="col-12 col-lg-6 mt-3">
    <div class="card h-100 bg-light mb-0 text-dark">
        <div class="card-header d-flex">
            <div class="flex-grow-1 text-dark">{{ spot.name|upper }}</div>
            <a href="{{ path('spot', {'id': spot.id}) }}">{{ 'know_more'|trans }}</a>
        </div>
        <div class="card-body ">
            {% if spot.subtitle %}
                <h5 class="card-title text-center">{{ spot.subtitle|raw }}</h5>
            {% endif %}
        </div>
        {% if spot.pictureUrl %}
            <img class="card-img-top" src="{{ spot.pictureUrl }}" alt="Spot image">
        {% endif %}
    </div>
</section>
