{% extends 'base.html.twig' %}

{% block title %}{{ 'spots'|trans }}{% endblock %}

{% block mainSection %}
    <h2 class="text-center font-weight-bold">{{ 'spots'|trans }}</h2>
    <hr class="divider"/>
    {{ include('components/_text.html.twig', {text: spotsIntro}) }}
    <hr class="divider"/>
    <h2 class="text-center font-weight-bold">{{ 'general_spots_rules'|trans }}</h2>
    <hr class="divider"/>
    {{ include('components/_text.html.twig', {text: spotsRecommendations}) }}
{% endblock %}

{% block body %}
    <div class="container p-4 p-lg-5">
        <div class="row">
            {% for spot in spots %}
                {{ include('spots/_spot.html.twig', {  spot }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
