{% set color = 'light' %}
{% set textColor = 'dark' %}
<section class="col-12 col-lg-6 mt-3" type="button" data-bs-toggle="collapse"
         data-bs-target="#collapse-spot-{{ spot.id }}"
         aria-expanded="false" aria-controls="collapseExample">
    <div class="card h-100 bg-{{ color }} mb-0 text-{{ textColor }}">
        <div class="card-header d-flex">
            <span class="flex-grow-1 text-dark">
            {{ spot.name|upper }}
            </span>
            <a href="">{{ 'know_more'|trans }}</a>
        </div>
        <div class="card-body ">
            {% if spot.subtitle %}
                <h5 class="card-title text-center">{{ spot.subtitle|raw }}</h5>
            {% endif %}
            <div class="card-text collapse" id="collapse-spot-{{ spot.id }}">
                {% if spot.subtitle %}
                    <hr class="divider"/>
                {% endif %}
                {% if spot.position %}<p><b><u>{{ 'position'|trans }}</u></b> : {{ spot.position|raw }}</p>{% endif %}
                {% if spot.access %}<p><b><u>{{ 'access'|trans }}</u></b> : {{ spot.access|raw }}</p>{% endif %}
                {% if spot.description %}<p><b><u>{{ 'description'|trans }}</u></b> : {{ spot.description|raw }}
                    </p>{% endif %}
                {% if spot.orientation %}<p><b><u>{{ 'orientation'|trans }}</u></b> : {{ spot.orientation|raw }}
                    </p>{% endif %}
                {% if spot.water %}<p><b><u>{{ 'water'|trans }}</u></b> : {{ spot.water|raw }}</p>{% endif %}
                {% if spot.dangers %}<p><b><u>{{ 'dangers'|trans }}</u></b> : {{ spot.dangers|raw }}</p>{% endif %}
                {% if spot.more %}<p><b><u>{{ 'more'|trans }}</u></b> : {{ spot.more|raw }}</p>{% endif %}
                {% if spot.security %}<p><b><u>{{ 'security'|trans }}</u></b> : {{ spot.security|raw }}</p>{% endif %}
            </div>
        </div>
        {% if spot.pictureUrl %}
            <img class="card-img-top" src="{{ spot.pictureUrl }}" alt="Spot image">
        {% endif %}
    </div>
</section>
