{% extends 'base.html.twig' %}

{% block title %}{{ 'general_rules'|trans }}{% endblock %}

{% block mainSection %}
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-start text-white">
        <h2 class="text-center font-weight-bold">{{ 'important_information'|trans }}</h2>
        <hr class="divider"/>
        <p>{{ importantNotices|raw }}</p>
        <hr class="divider"/>
        <h2 class="text-center font-weight-bold">{{ 'general_rule_frame'|trans }}</h2>
        <hr class="divider"/>
        <p>{{ generalFrameContent|raw }}</p>
    </div>
{% endblock %}
