{% extends 'base.html.twig' %}

{% block title %}{{ 'gallery'|trans }}{% endblock %}

{% block mainSection %}
    <div class="pswp-gallery pswp-gallery--single-column" id="my-gallery" {{ stimulus_controller('gallery') }}>
        {% for image in images %}
            <a href="{{ image.url }}"
               data-pswp-srcset
               data-pswp-width="{{ image.width ?? 500 }}"
               data-pswp-height="{{ image.height ?? 500 }}"
               target="_blank">
                <img src="{{ image.url }}" alt="" style="max-width: 200px;"/>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block mainSectionBottom %}

{% endblock %}