<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="d-flex">
            <div class="small text-center text-muted flex-grow-1">
                {{ 'copyright'|trans }}
                <a class="ms-4" href="{{ path('general_rules') }}">{{ 'general_rules'|trans }}</a>
            </div>
            <a class="ms-auto small" href="{{ path('login') }}">{{ 'login'|trans }}</a>
        </div>
    </div>
</footer>
